.nav-pills li  a:hover{
	background-color: #EB7726;
	
}
.logo {
	max-width: 150px;
	margin-bottom: 20px;
	border-radius: 50%;
}

.container-mesa{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1.2rem;
}
